label,
footer {
    font-family: sans-serif;
}

label {
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.output {
    background: center/cover no-repeat url('/media/cc0-images/hamster.jpg');
    position: relative;
}

.startpoint{
    border: 5px;
    background-color: rgb(231, 47, 47);
    border-radius: 10px;
    position: absolute;
}

.startpoint :hover{
    color: green;
}

.endpoint{
    border: 5px;
    background-color: rgb(231, 47, 47);
    border-radius: 10px;
    position: absolute;
}
